body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.counterDown {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main_box {
    width: 80%;
    background: rgba(255, 255, 255, 0.225);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    padding: 20px;
    padding-bottom: 80px;
    display: none;
}

.main_box h2{
    font-size: 68px;
    font-weight: 600;
    color: #ffffff;
}

.days,.hours,.minutes,.seconds{
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.225);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media screen and (max-width: 946px) {
    .main_box {
        width: 90%;
    }

    .main_box h2 {
        font-size: 45px;
    }
    
    .days,.hours,.minutes,.seconds{
        font-size: 35px;
    }
}

@media screen and (max-width: 572px) {
    .main_box h2 {
        font-size: 30px;
    }

    .days,.hours,.minutes,.seconds{
        font-size: 30px;
    }
}