@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #3d3c3c;
    --primary-color: #48dfff;
    --secondary-color: #ff793c;
    --primary-shadow: #95a68e;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

/* Page Transitions */
.transition-fade {
    opacity: 1;
    transition: 0.5s;
}

html.is-animating .transition-fade {
    opacity: 0;
}

/* Nav Bar Styling */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.active {
    color: var(--secondary-color);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

/* Hide Burger */
.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* About Me Styling */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img {
    height: 25rem;
    width: 25rem;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

/* Skills Styling */
.skills {
    max-width: 68.75rem;
    text-align: center;
    margin: 2.5rem auto auto;
}

.skill-header {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

/* Certs Styling */
.certificates {
    padding: 32px 0;
    margin-top: 2rem;
}

.certs-pic {
    width: 65%;
    height: 60%;
}

.certs-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.certs-header {
    text-align: center;
    margin-bottom: 1rem;
}

.cert-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.cert-title {
    margin-bottom: var(--bottom-margin);
}

.cert-details {
    margin-bottom: var(--bottom-margin);
}

.cert-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

/* Small device Styling */
@media screen and (max-width: 720px) {
    /* Nav Bar */
    nav {
        paddding: 1.5rem 1rem;
    }
    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 50%;
        width: 50%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }
    nav ul li {
        margin: 8px;
    }
    .burger-menu {
        display: block;
    }
    nav ul.show {
        transform: translateX(0);
    }

    /* About Me */
    .hero {
        margin-top: -1rem;
        flex-direction: column;
        gap: 0;
    }
    .hero img {
        height: 20rem;
        width: 20rem;
    }
    .bio {
        width: 20.5rem;
    }

    /* Skill Section */
    .icon {
        width: 5.875rem;
        height: 5.875rem;
    }

    /* Certs Section */
    .certs-container {
        flex-direction: column;
    }
    .cert-container {
        width: 20.875rem;
    }
}

/* For ultra small displays */
@media screen and (max-width: 420px) {
    .hero img {
        height: 15rem;
        width: 15rem;
    }
    
    .bio {
        width: 18.3rem;
    }

    .cert-container {
        width: 17.875rem;
    }
}